/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { 
  height: 100%; 
}
body { 
  font-family : Roboto, "Helvetica Neue", sans-serif;
  margin      : 0;
}
app-root {
  display            : grid;
  grid-template-rows : 1fr auto 30px;
  position           : relative;
}
h1, legend {
  font-size       : 35px !important;
  font-weight     : bold !important;
  text-align      : center;
  text-decoration : underline;
  text-transform  : uppercase;
}
legend {
  margin-bottom: 30px;
}